# Build results
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Debug / Release
[Bb]in/
[Oo]bj/

# .NET artifacts
*.dll
*.pdb

# Rider / VS Code
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
